@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.text-center{
    position: absolute;
    width: 100vw;
    padding: 40px 0;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 5px 5px 12px rgb(122, 92, 92);
}

#timetable{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aditya;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes aditya {
    20%{
        background: pink;
    }
    40%{
        background: rgb(199, 27, 56);
    }
    60%{
        background: rgb(155, 148, 211);
    }
    80%{
        background: rgb(128, 207, 75);
    }
    100%{
        background: rgb(198, 212, 72);
    }

}

.container{
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-auto-rows: 2fr;
    grid-gap: 1px;
}
.item{
    background-color: rgb(239, 240, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* height: 20px;
    width: 40px; */
    border: 2px solid black;
}

 
.item:hover{
    background-color: aquamarine;
    animation-name: saurabh;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: bold;
}
@keyframes saurabh {
    from{
        text-shadow: none;
    }
    to{
        text-shadow: 2px 2px 8px rgb(107, 82, 82);
    }
}

#author{
    bottom: 30px;
}